$pixel_width: 14px;

.controller {
  .d-pad {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 50%;

    .circle {
      position: absolute;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: $pixel_width * 10;
      height: $pixel_width * 10;
      border-radius: 50%;
    }
  }

  .button-a {
    position: fixed;
    z-index: 99999;
    bottom: $pixel_width * 4;
    right: $pixel_width * 0.5;
    background: rgba(255, 255, 255, 0.5);
    width: $pixel_width * 5;
    height: $pixel_width * 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:before {
      content: 'Jump';
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      display: block;
      margin-top: $pixel_width * 2;
    }
  }
}
